.Enpass-RecentPaths.conf
.IntelliJIdea2018.1/
.PlayOnLinux/
.Rhistory
.Skype/
.TelegramDesktop/
.ViberPC/
.XCompose
.Xauthority
.android/
.aws/
.bash_history
.bash_logout
.bash_profile
.berkshelf/
.cache/
.calc_history
.chef/
.cifs
.cmake/
.com.jungledisk.workgroupservice.status
.config/Epic/
.config/Franz/
.config/GIMP/
.config/Messenger for Desktop/
.config/QtProject.conf
.config/RStudio/
.config/Slack/
.config/Thunar/
.config/Unreal Engine/
.config/VirtualBox/
.config/autokey/
.config/autostart-scripts/
.config/autostart/
.config/bluedevilglobalrc
.config/compton.conf
.config/dconf/
.config/deluge/
.config/discord/
.config/emaildefaults
.config/emailidentities
.config/filelightrc
.config/foldermailarchiverc
.config/fontconfig/
.config/gconf/
.config/git/
.config/gnuplot/
.config/google-chrome/
.config/google-musicmanager/
.config/gthumb/
.config/gtk-2.0/
.config/gtk-3.0/
.config/heroku/
.config/htop/
.config/i3_basic/
.config/libreoffice/
.config/mailtransports
.config/menus/
.config/mimeapps.list
.config/mopidy/
.config/mps-youtube/
.config/networkmanagement.notifyrc
.config/parcellite/
.config/pavucontrol.ini
.config/powermanagementprofilesrc
.config/print-manager
.config/pulse/566f89da97374aacab1de9edb348b34b-card-database.tdb
.config/pulse/566f89da97374aacab1de9edb348b34b-default-sink
.config/pulse/566f89da97374aacab1de9edb348b34b-default-source
.config/pulse/566f89da97374aacab1de9edb348b34b-device-volumes.tdb
.config/pulse/566f89da97374aacab1de9edb348b34b-stream-volumes.tdb
.config/pulse/76aeb8edd0a04dafb4929fd5b9b1337c-card-database.tdb
.config/pulse/76aeb8edd0a04dafb4929fd5b9b1337c-default-sink
.config/pulse/76aeb8edd0a04dafb4929fd5b9b1337c-default-source
.config/pulse/76aeb8edd0a04dafb4929fd5b9b1337c-device-volumes.tdb
.config/pulse/76aeb8edd0a04dafb4929fd5b9b1337c-stream-volumes.tdb
.config/pulse/equalizer-state.tdb
.config/qalculate/
.config/session/
.config/smplayer/
.config/smplayerhdpi.ini
.config/startupconfig
.config/startupconfigfiles
.config/startupconfigkeys
.config/systemmonitorrc
.config/systemsettingsrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/veusz.org/
.config/zathura/
.coursier/
.credentials
.ctags
.cups/
.dbus/
.dia/
.docker/
.dropbox-dist/
.dropbox/
.easystroke/
.esd_auth
.factorio/
.fehbg
.fonts/.uuid
.gem/
.gnupg/
.gnuplot_history
.go/
.gtickrc
.gtkrc-2.0
.heroku/
.histfile
.history
.i18n
.idea-build/
.inputrc
.irssi/
.ivy2/
.java/
.jungledisk/
.junglediskworkgroupinstance
.kitchen/
.lesshst
.local/share/JetBrains/
.local/share/LocalStorage/
.local/share/PillarsOfEternity/
.local/share/Steam/
.local/share/WebpageIcons.db
.local/share/applications/
.local/share/color-schemes/
.local/share/emoticons/
.local/share/fish/
.local/share/gnome-settings-daemon/
.local/share/googlecl/
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/heroku/
.local/share/icons/
.local/share/mc/
.local/share/meld/
.local/share/mime/
.local/share/mopidy/
.local/share/parcellite/
.local/share/qalculate/
.local/share/recently-used.xbel
.local/share/systemd/
.local/share/tridactyl/
.local/share/xorg/
.local/share/zathura/
.m2/
.macromedia/
.minecraft/
.mozilla/
.mutt/
.mutt_solarized.muttrc
.muttrc
.netrc
.nv/
.nvidia-settings-rc
.oracle_jre_usage/
.password-store/
.pki/
.pulse-cookie
.pyhistory
.python-eggs/
.python_history
.qt/
.rediscli_history
.rstudio-desktop/
.sbt/
.scala_history
.scalac/
.screenrc
.semantic-highlight-cache
.ssh/
.steam
.steampath
.steampid
.t-engine/
.task/
.taskrc
.telegram-cli/
.thumbnails/
.vagrant.d/
.vbox/
.vimbackup/
.viminfo
.viminfo.tmp
.vimperator/
.vimspell.en.add
.vimspell.en.add.spl
.vimswap/
.vimtags
.vimundo/
.vimviews/
.vombatidae.muttrc
.w3m/
.wget-hsts
.wine/
.wireshark
.xdg_menu_cache/
.xonotic/
.xsession-errors
.xsession-errors.old
.z
AndroidStudioProjects/
Desktop/
Discord/
Documents/
Downloads/
Dropbox/
Enpass/
IdeaProjects/
Music/
My Games/
ParcelliteHistory.txt
Pictures/
R/
Resilio Sync/
Steam
Unreal Projects/
ViberDownloads/
Videos/
VirtualBox VMs/
android-studio/
android/
apache-maven-3.5.2/
apache-tomcat-7.0.82/
autokey-py3/
avro-tools-1.8.2.jar
calendar_api_token.json
chef-dk/
client_secret.json
cookbooks/
data/
data_bags/
df2/
dropbox/
dy/
enpass-bin/
fbdark-wide-stylish/
google-musicmanager/
i3lock-cac03-git/
idea
idea-IU-181.4668.68/
jdk
jdk1.8.0_151/
jungledisk/
kbdd-git/
knife/
legends_viewer/
legendsbrowser.properties
lock_dates.txt
love-hg/
love-nuklear/
maven
mkpasswd/
mps-youtube-git/
myhubot/
nltk_data/
openswan/
parquet-tools/
pass/
pasystray/
pavolume-git/
redis_proxy.go
rslsync/
rstudio-desktop-bin/
sbt/
slack-desktop/
smac/
teamviewer/
urlview/
userChrome-minimal.css
veusz/
viber/
virtualbox-bin/
xv/
xvkbd/
yankring_history_v2.txt
Old_Projects/
.IntelliJIdea2018.2/
.babel.json
.config/DisplayCAL/
.config/Sinew Software Systems/
.config/configstore/
.config/dwarftherapist/
.config/unity3d/
.config/vlc/
.config/xfce4/
.config/zoomus.conf
.dwarffortress/
.electron-gyp/
.electron/
.gcalcli_cache
.gcalcli_oauth
.local/share/DisplayCAL/
.local/share/Trash/
.local/share/flatpak/
.local/share/love/
.local/share/vlc/
.local/share/vulkan/
.node-gyp/
.npm/
.v8flags.6.7.288.49-node.19.3ba735738fd95b92fef4a3ffe491b6d8.json
.var/
bin/cfr_0_132.jar
bin/decompile_jar.sh
bin/single_monitor_tv
bin/single_monitor_tv_hd
boris.crt
boris.key
dfhack-twbt-bin/
dwarftherapist-git/
resume-root.log
resume.log
xcalib/
.config/godot/
.config/nvim/
.godot/
.local/share/nvim/
.mysql/
godot/
.config/pulse/*-runtime
bin/servers_to_init.txt
.tmux/resurrect/
.IntelliJIdea2018.3/
.config/chromium/
.local/share/fonts/
.mysql_history
hplip-plugin/
i8kutils/
ideaIU*.tar.gz
nohup.out
soundsense/
sux/
.config/fish/fish_variables
.config/pulse/cookie
.config/pulse/*
.dmrc
.face
.byobu/
.chunkwmrc
.config/coc/
.config/fish/functions/fzf_key_bindings.fish
.config/karabiner/automatic_backups/
.config/pip/
.fpp/
.fzf.bash
.fzf.zsh
.fzf/
.gitcinclude
.local/share/fzf-history/
.local/share/karabiner/
.pylintrc
.sh_history
.tmux-buffer
.tox/
.vim/autoload/
.vim_mru_files
.vim_tags/
.zshrc
Applications/
Library/
Movies/
Public/
dotfiles/
localbin
pam_reattach/
dwarffortress-lnp-git/
git-secrets/
messengerfordesktop-bin/
q/
.nvm/
.pyenv/
.pylint.d/
.vim/.netrwhist
.vim/sessions/
.vscode/
.yarn/
.yarnrc
.zprofile
.zsh_history
bin/bld
bin/sshec2
bin/sshecs
fundbox/
.ngrok2
.config/iterm2/
.config/bpytop/
.iterm2
.Trash
.aws-sam/
.hyper_plugins
.ipython
bin/init_sshecs
