snippet main "if main"
	if __name__ == "__main__":
		${1}
endsnippet

snippet init "constructor"
def __init__(self):
	${1:pass}
endsnippet

snippet ppr "from pprint import pprint; pprint(str(obj)"
from pprint import pprint; pprint($1)
endsnippet

snippet prarr "print(map(lambda:str))"
print(map(lambda rec: str(rec), ${1}))
endsnippet

snippet nbr "breakpoint"
from nose.tools import set_trace; set_trace()
endsnippet

snippet pdb "pdb breakpoint"
__import__("pdb").set_trace()
endsnippet
